$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

$color-gray: #666;
$color-bg-button: #434343;
$color-text-gray: #333;
$color-success: #18943b;
