$font-family-base: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
$font-size-base: 12px;
$body-color: #000000;
$body-bg: #FFFFFF;
$font-weight-base: 400;
$line-height-base: 1.5;
$link-color: #333;
